.navbar {
	img.icon {
		margin-top: -0.5em;
		width: 32px;
	}
}

.navbar-nav .login-buttons-dropdown-align- {
	padding: 15px;
	.login-link-text {
		color: #777;
		line-height: 20px;
	}
}

a#login-sign-in-link {
	text-decoration: none;
}